//Title bar
.logo-cityhall {
  right: 5px;
}

//Topbar
.language-choose {
  padding-right: 2.5rem;
}

//Main Footer
.main-footer__badge {
  top: 22px;
  margin-left: 20px;
}

//Faq
.more-information .section-heading {
  margin-top: 1.5rem;
}

//Hero

.hero {
  background-image: url("/images/hero-home.jpg");
}
