//Layout
.off-canvas{
  background-color: $primary;
}

//Navbar
.logo-cityhall{
  right: 5px;
}

.language-choose{
  padding-right: 2.5rem;
}

.navbar{
  background: $primary;
}

.usermenu-off-canvas-holder .usermenu-off-canvas{
  a{
    color: rgba(white,.8);
  }
}

.main-nav__link{
  color: rgba(white,.8);
}

.main-nav__link--active{
  box-shadow: inset 4px 0 0 0 $secondary;
  @include breakpoint(medium) {
    box-shadow: inset 0 4px 0 0 $secondary;
  }
}

//Footer
.main-footer__badge {
  top: 22px;
  margin-left: 20px;
}

.mini-footer{
  background-color: $primary;
}

.main-footer,
.mini-footer{
  color: $white;

  a {
    color: darken($white, 20%);

    &:hover{
      color: darken($white, 10%);
    }
  }
}

//Faq
.section-heading.section-heading__spaced {
  margin-top: 1.5rem;
}

//Home
.hero {
  background-image: url("/images/hero-home.jpg");
}
