<div class="cookie-warning">
  <%= t("cookies.content") %>
  <a href="<%= url_for local_path("terms-and-conditions") %>">
    <%= t("cookies.link") %></a>.
    <div class="cookie-warning__action">
      <button class="button tiny cookie-bar__button" id="acceptCookies">
        <%= t("cookies.button") %></button>
    </div>
</div>
