<!-- Topbar -->
<div class="title-bar">
  <a target="_blank" href="http://www.vilanova.cat/"
     class="logo-cityhall">
    <img src="/images/vilanova/vilanova-badge.svg"
         alt="Ajuntament de Vilanova i la Geltrú">
  </a>
  <div class="row column topbar">
    <div class="logo-wrapper">
      <a href="/">
        <img src="/images/vilanova/vilanova-logo-white.svg" width="200"
          alt="Participa Vilanova i la Geltrú">
      </a>
    </div>
    <div class="topbar__dropmenu language-choose">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="is-dropdown-submenu-parent">
          <a href="#">Català</a>
          <ul class="menu is-dropdown-submenu">
            <li><a href="#">Castellano</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="hide-for-medium topbar__menu">
      <button type="button" data-toggle="offCanvas">
        <%= icon "menu", aria_label: "Navegación", role: "img" %>
      </button>
    </div>
  </div>
</div>
