---
title: participa.vilanova.cat
activesection: proposals
---

<%= partial 'partials/template_top' %>

<main class="wrapper">
  <!-- <div class="row column">
    <h1 class="heading1 page-title">Enviar proposta</h1>
  </div> -->
  <div class="row">
    <div class="columns large-6 medium-centered">
      <div class="card">
        <div class="card__content">

          <div class="card__header">
            <h1 class="heading2">Enviar proposta</h1>
          </div>

          <!-- Default Callout -->
          <div class="callout warning">
            <p>
              <a href="/more-information" target="_blank"
                title="Més informació">Quin tipus de propostes pots presentar?</a>
            </p>
          </div>

          <!-- Success Callout -->
          <div id="new-proposal-form-callout-success" class="callout success" style="display:none;">
            <p>La teva proposta ha estat enviada correctament. Moltes gràcies per la teva participació.</p>
          </div>

          <!-- Error Callout -->
          <div id="new-proposal-form-callout-error" class="callout alert" style="display:none;">
            <p>
              Hi ha hagut un problema amb l'enviament de la teva proposta.
              Si el problema persisteix, posa't en contacte amb nosaltres.
            </p>
          </div>
          <form name="nova-proposta" id="new-proposal-form" class="register-form" netlify netlify-honeypot="camp-per-bots">
            <div>
              <div class="hide">
                <label>Camp per bots
                  <input
                    name="camp-per-bots"
                    type="text"
                    placeholder="Camp per bots">
                </label>
              </div>
              <div>
                <label>Títol de la proposta
                  <input
                    name="titol"
                    type="text"
                    required
                    placeholder="Nova proposta per participa.vilanova.cat">
                </label>
              </div>
              <div>
                <label>Descripció de la proposta
                  <textarea
                    name="descripcio"
                    required
                    placeholder="Què proposes?"
                    rows="10"></textarea>
                </label>
                <p class="help-text">Indica la necessitat a que dona resposta
                  i el pressupost aproximat (si el coneixes)</p>
              </div>
              <br />
              <h6 class="heading6">Dades de contacte</h6>
              <div>
                <label>Nom i cognoms
                  <input
                    name="nom-cognoms"
                    type="text"
                    required
                    placeholder="Com et dius?">
                </label>
              </div>
              <div>
                <label>Adreça
                  <input
                    name="adreca"
                    type="text"
                    required
                    placeholder="Quina és la teva adreça?">
                </label>
              </div>
              <div>
                <label>Telèfon
                  <input
                    name="telefon"
                    type="text"
                    required
                    placeholder="Un telèfon de contacte">
                </label>
              </div>
              <div>
                <label>Correu electrònic
                  <input
                    name="email"
                    type="email"
                    required
                    placeholder="Una direcció de correu electrònic">
                </label>
              </div>
            </div>
            <button type="submit" class="button expanded">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>
